<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content" id="mainpage-blogs" style="min-height:300px ;">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <% if(blog.blogid) { %>
        <a href="/all-blogs/<%= blog._id %>" class="toopenblog">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </a>
        <% } %>
      <% }) %>
    <% } else { %>
      <p>Sorry, there are no blogs available</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>