<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content" id="mainpage-blogs" style="min-height:300px ;">
    <h2>Your Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a href="/my-blogs/<%= blog._id %>" class="toopenblog">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>Sorry, you have no blogs written</p>
      <div  id="createNew">
        <a href="/create">Create a New Blog</a>
      </div>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>